@charset "utf-8";


body {
	font: 100%/1.6 'Arial', sans-serif;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	color: #4d4d4d;
}
table {
    border-collapse: collapse;
}
td {
    padding: 0;
    padding-left: 5px;
}



h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
}

h1{
	font-size:150%;
	font-family:'Roboto', sans-serif;
	color:#ebb72f;
	font-weight:700;
	margin-bottom:1%;
}

h2{
	font-size:130%;
	font-family:'Roboto', sans-serif;
	color:#ebb72f;
	font-weight:normal;
	margin-bottom:1%;
}

h3{
	font-size:110%;
	font-family:Arial, sans-serif;
	color:#ebb72f;
	font-weight:normal;
}

h4{
	font-size:100%;
	font-family:Arial, sans-serif;
	color:#ebb72f;
	font-weight:normal;
	font-style:italic;
}

a img { 
	border: none;
}

a:link {
	color:#ebb72f;
	text-decoration: underline; 
}

a:visited {
	color: #ebb72f;
	text-decoration: underline;
}

a:hover, a:active, a:focus { 
	text-decoration: none;
}


.td_size1 {    
  width:200px; 
  max-width:200px;
  min-width:200px; 
}
.td_size2 {    
 
}
.td_size3 {    
  width:80px; 
  max-width:80px;
  min-width:80px; 
  /*overflow:hidden;*/ 
}
/*--header--*/
.headertext1{
	font-size:380%;
	font-family:'Roboto Slab', serif;
	color:#666666;
	font-weight:400;
	padding-left:1%;
	padding-top:3%;
}

.headertext2{
	font-size:330%;
	font-family:'Roboto', sans-serif;
	font-weight:700;
	color:#ebb72f;
	margin-left:14%;
	margin-top:-3.5%;
	margin-bottom:0%;	
}

.headertextExtrationTool{
	font-size:150%;
	font-family:'Roboto', sans-serif;
	font-weight:700;
	color:#ebb72f;
	margin-left:14%;
	margin-top:-3.5%;
	margin-bottom:0%;	
}

.header {
		background-image:url(../images/BlocksImage.jpg);
		background-repeat:no-repeat;
}

.menuPadder {
    color:#4D4D4D
}


.ImageASRISSoilSitePortalImage{
    float: right;
    position:relative;
    margin-left:4%;
    /*margin-top: 40%;*/
    padding-top:7px;
    z-index:1;

            }

.ImageGoogleEarth{
    float: right;
    position:relative;
    margin-right:4%;
    margin-top: 20px;
    /*height: 370px;*/
   
    z-index:1;
            }
.ImageGoogleEarth2{
    
   float: left;
    position:relative;
    margin-left:30%;
     margin-right:30%;
    margin-top: 20px;
    z-index:1;
            }

.ImageASRISViewer{
    float: left;
    position:relative;
    margin-left:4%;
    margin-top: 20px;
   
    z-index:1;
            }


/*--main content stuff--*/
.container {
	width: 100%;
	max-width: 960px;
	min-width: 480px;
	background-color:#FFF;
	margin: 0 auto; 
	background-image:url(../images/AustraliaImage.jpg);
	background-repeat:no-repeat;
    z-index: 200;
}

#content {
	padding: 1% 0% 3% 0%;
	line-height:1.8;
	font-size:90%;
	clear:left;
	margin-top:2px;
}

#maincontent{
	width:72%;
     z-index:10;	
}

#boxright{
float:right;
width:20%;
    z-index:20;
margin-left:4%;
	margin-top:2%;
}

.textinbar{ /*--orange bar with white text--*/
color:#fff;
background-color:#ebb72f;
font-size:95%;
padding-left:7px;
font-family:'Roboto', sans serif;
}

/*--navigation bar--*/
.activetab{
	background-color:#ebb72f;
	height:39px;
}

#nav, #nav ul{ /*--first level grey bar--*/
	padding: 0;
	margin: 0;
	list-style: none;
	background-color:#4D4D4D;
	height:40px;
}

#nav a {
	display: block;
	text-decoration:none;
	color:#fff;
	/*padding:9px 15px 8px 15px;*/
     /************  change value below to change menu header Width ************/
    padding:9px 50px 8px 15px;
}

#nav li {
	float: left;
	position:relative;
	padding:0px 0px 1px 0px;
	text-align:left;
	color:#fff;
	font-family:'Roboto', sans-serif;
	font-weight:700;
	font-size:90%;
	border-right:solid 2px #FFF;
    z-index: 100;
   
}

#nav li:hover, #nav li:active, #nav li:focus { 
	background-color:#ebb72f;
}

#nav li ul { /*--second level dropdown--*/
	position: absolute;
	left: -999em;
	background-color:#a6a6a6;
	height:auto;
	border-top:solid 2px #fff;
	margin-top:1px;
}

#nav li ul li{
	border-bottom:solid 2px #fff;
	border-right:none;
	position:relative;
}

#nav li ul li a{
	padding:9px 15px 8px 15px;
	text-align:left;
    /************  change value below to change menu item Widths ************/
	width:15em;	
    z-index: 100
}

#nav li:hover ul {
	left: auto;
}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
}


/*--footer--*/
#footer {
	padding: 5% 0% 3% 0%;
	clear:both;
}

#funder{
	width:25%;
	font-size:70%;
	line-height:1.3em;
}

#partners{
	float:right;
width:72%;
position:relative;
}

#partners img{
	margin-right:3%;	
	margin-bottom:3%;
}